.container {
  margin: 0 auto;
  max-width: 1850px;
  padding: 20px 20px 60px;
}

.plan-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-filter {
  display: flex;
  align-items: center;

  label {
    user-select: none;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
