.accordion-item {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  font-size: 20px;
  border-radius: 6px;

  &.light {
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  }

  &.dark {
    background-color: #343a46;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  // ACCORDION RIGHT DECOR LINE

  //   &::before {
  //     position: absolute;
  //     content: '';
  //     left: 0;
  //     top: 0;
  //     height: 100%;
  //     width: 4px;
  //     // background-color: var(--primary-color);
  //   }
  //   &.light::before {
  //     background-color: #6d6f7f;
  //   }
  //   &.dark::before {
  //     background-color: var(--white-color);
  //   }
}

.accordion-title {
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: 0;
  position: relative;
}

.accordion-title {
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primary-color);
    right: 20px;
    top: 30px;
    transition: all 0.3s ease-in-out;
  }

  &.light::before,
  &.light::after {
    background-color: #6d6f7f;
  }

  &.dark::before,
  &.dark::after {
    background-color: var(--white-color);
  }
}

.accordion-title::after {
  transform: rotate(-90deg);
}

.accordion-title.accordion-active::after {
  transform: rotate(0deg);
}

.accordion-text {
  //   padding: 0 5px;
  padding: 0;
}

.accordion-text li {
  margin-left: 20px;
  position: relative;
  list-style: none;
}

.accordion-text li::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
}

.accordion-text a {
  display: inline-block;
  color: var(--primary-color);
}

.accordion-text p + p {
  margin-top: 5px;
}

.accordion-text a:hover {
  text-decoration: underline;
}

.accordion-text li + li {
  margin-top: 10px;
}
