.wrapper {
  position: relative;
  display: inline-flex;
}

/* label */

.label {
  top: 50%;
  z-index: 0;
  font-size: 18px;
  position: absolute;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.label.errorLabel {
  color: #ca4240;
}

.outlinedLabel {
  left: 9px;

  &::before {
    content: '';
    height: 4px;
    width: 100%;
    top: 45%;
    left: -1px;
    z-index: -1;
    display: inline-block;
    position: absolute;
  }

  &.lightLabelBack {
    &.focusLabelDark::before {
      background-color: #23272f;
    }
    &.focusLabelLight::before {
      background-color: #f4f4f4;
    }
  }

  &.darkLabelBack {
    &.focusLabelDark::before {
      background-color: #343a46;
    }
    &.focusLabelLight::before {
      background-color: #fff;
    }
  }
}

.standartLabel {
  left: 0;
}

.focusLabelLight {
  top: 0px;
  left: 8px;
  z-index: 1;
  padding: 0 5px;
  font-size: 13px;
  background-color: transparent;
}

.focusLabelDark {
  top: 0;
  z-index: 1;
  padding: 0 5px;
  font-size: 13px;
}

.notEmpty {
  top: 0;
  z-index: 1;
  padding: 0 5px;
  font-size: 13px;

  &.light.outlinedLabel::before {
    background-color: #ffffff;
  }

  &.dark.outlinedLabel::before {
    background-color: #343a46;
  }
}

.focusLabel {
  color: #20bd5f;
}

.focusStandartLabel {
  background-color: transparent;
  left: -5px;
}

/* label */

/* input */

.inputWrapper {
  position: relative;
}

.input {
  outline: none;
  font-size: 18px;
  background-color: transparent;
  // z-index: 2;
}

.outlinedInput.darkModeInput:hover {
  border: 1px solid #ffffff;
}
.outlinedInput.lightModeInput:hover {
  border: 1px solid #000000;
}

.standartInput {
  border: 0;
  padding: 8px 0;
  border-bottom: 1px solid #acaec9;

  &:hover {
    border-bottom: 1px solid #000000;
  }
}

.darkModeInput {
  color: #fff;

  &:hover {
    border-bottom: 1px solid #ffffff;
  }
}

.inputWrapper::after {
  content: '';
  position: absolute;
  transition: all 0.2s ease-in-out;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  // background-color: #087ea4;
  background-color: #20bd5f;
  bottom: 0;
  left: 0;
}

.inputWrapper.errorBottomLine::after {
  background-color: #ca4240;
}

.inputWrapper.bottomLine.focusInput::after {
  transform: scaleX(1);
}

.outlinedInput {
  padding: 10px 14px;
  border: 1px solid #acaec9;
  border-radius: 5px;

  &:hover {
    border: 1px solid #000000;
  }

  &:focus {
    padding: 9px 13px;
    // border: 2px solid #087ea4 !important;
    border: 2px solid #20bd5f !important;
    position: relative;
  }
}

.outlinedInput.lightModeInput:hover {
  border: 1px solid #000000;
}

.standartInput.errorInput {
  border-bottom: 1px solid #ca4240 !important;
}

.outlinedInput.errorInput {
  border: 1px solid #ca4240 !important;
}

.outlinedInput.errorInput:focus {
  border: 2px solid #ca4240 !important;
}

/* input */

/* errorMessage */

.errorMessage {
  bottom: -18px;
  font-size: 12px;
  color: #ca4240;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* errorMessage */
