.contaner {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  padding: 0 20px;
  margin: 40px auto;
}

.left-col {
  width: 50%;
  margin-right: 15px;
}

.right-col {
  width: 50%;
}
